.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
}
.gallery,
.gallery img {
  max-width: 90vw;
  max-height: 80vh;
}

.gallery img {
  display: block;
  width: auto;
  height: auto;
}

.gallery button {
  background: transparent;
  border: 0;
  appearance: none;
  color: inherit;
  font: inherit;
  font-size: 1.5rem;
}
.gallery button:focus:not(:focus-visible) {
  outline: 0;
}
.gallery button:not(:disabled) {
  cursor: pointer;
}
.gallery button:disabled {
  opacity: 0.25;
}
.gallery button[data-a11y-dialog-hide] {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 0.5rem;
}
.gallery button[data-gallery-prev],
.gallery button[data-gallery-next] {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  transform-origin: center;
  transform: rotate(180deg);
}
.gallery button[data-gallery-next] {
  left: auto;
  right: 0;
  transform: none;
}

[data-gallery-title] {
  width: calc(100% - 3rem);
  position: absolute;
  bottom: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
